'.source.drupal':
  h_query_alter:
    prefix: 'h_query_alter'
    body: '''
      /**
       * Implements hook_query_alter().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_query_alter(QueryAlterableInterface \\$query) {
        if (\\$query->hasTag('${1}')) {
          ${2:/* Your code here */}
        }
      }$0
    '''