'.source.drupal':
  h_field_read_instance:
    prefix: 'h_field_read_instance'
    body: '''
      /**
       * Implements hook_field_read_instance().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_field_read_instance(\\$instance) {
        ${1:/* Your code here */}
      }$0
    '''