'.source.drupal':
  h_entity_info_alter:
    prefix: 'h_entity_info_alter'
    body: '''
      /**
       * Implements hook_entity_info_alter().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_entity_info_alter(&\\$entity_info) {
        ${1:/* Your code here */}
      }$0
    '''