'.source.drupal':
  h_date_formats:
    prefix: 'h_date_formats'
    body: '''
      /**
       * Implements hook_date_formats().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_date_formats() {
        return array(
          array(
            'type' => '${1}',
            'format' => '${2}',
            'locales' => array('${3}'),
          ),
        );
      }$0
    '''