'.source.drupal':
  h_field_info_max_weight:
    prefix: 'h_field_info_max_weight'
    body: '''
      /**
       * Implements hook_field_info_max_weight().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_field_info_max_weight(\\$entity_type, \\$bundle, \\$context) {
        \\$weights = array();
        ${1:/* Your code here */}
      
        return \\$weights ? max(\\$weights) : NULL;
      }$0
    '''