'.source.drupal':
  hook_actions_delete:
    prefix: 'hook_actions_delete'
    body: '''
      /**
       * Implements hook_actions_delete().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_actions_delete(\\$aid) {
        db_delete('${1}')
          ->condition('aid', \\$aid)
          ->execute();
      }$0
    '''