'.source.drupal':
  h_forms:
    prefix: 'h_forms'
    body: '''
      /**
       * Implements hook_forms().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_forms(\\$form_id, \\$args) {
        \\$forms['${1}'] = array(
          'callback' => '${2}',
          'callback arguments' => array('${3}'),
        );
      
        return \\$forms;
      }$0
    '''