'.source.drupal':
  hook_test_group_started:
    prefix: 'hook_test_group_started'
    body: '''
      /**
       * Implements hook_test_group_started().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_test_group_started() {
        ${1:/* Your code here */}
      }$0
    '''