'.source.drupal':
  h_image_style_flush:
    prefix: 'h_image_style_flush'
    body: '''
      /**
       * Implements hook_image_style_flush().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_image_style_flush(\\$style) {
        ${1:/* Your code here */}
      }$0
    '''