'.source.drupal':
  h_node_view_alter:
    prefix: 'h_node_view_alter'
    body: '''
      /**
       * Implements hook_node_view_alter().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_node_view_alter(&\\$build) {
      }$0
    '''