'.source.drupal':
  hook_date_formats:
    prefix: 'hook_date_formats'
    body: '''
      /**
       * Implements hook_date_formats().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_date_formats() {
        return array(
          /*
           *array(
           *  'type' => 'mymodule_extra_long',
           *  'format' => 'l jS F Y H:i:s e',
           *  'locales' => array('en-ie'),
           *),
           */
          array(
            'type' => '${1}',
            'format' => '${2}',
            'locales' => array('${3}'),
          ),
        );
      }$0
    '''