'.source.drupal':
  h_exit:
    prefix: 'h_exit'
    body: '''
      /**
       * Implements hook_exit().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_exit(\\$destination = NULL) {
        ${1:/* Your code here */}
      }$0
    '''