'.source.drupal':
  hook_enable:
    prefix: 'hook_enable'
    body: '''
      /**
       * Implements hook_enable().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_enable() {
        /*
         *mymodule_cache_rebuild();
         */
        ${1:/* Your code here */}
      }$0
    '''