'.source.drupal':
  hook_date_format_types_alter:
    prefix: 'hook_date_format_types_alter'
    body: '''
      /**
       * Implements hook_date_format_types_alter().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_date_format_types_alter(&\\$types) {
        foreach (\\$types as \\$type_name => \\$type) {
          /*
           *\\$types[\\$type_name]['locked'] = 1;
           */
          \\$types[\\$type_name]['${1}'] = ${2};
        }
      }$0
    '''