'.source.drupal':
  h_node_load:
    prefix: 'h_node_load'
    body: '''
      /**
       * Implements hook_node_load().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_node_load(\\$nodes, \\$types) {
        ${1:/* Your code here */}
      }$0
    '''