'.source.drupal':
  h_ajax_render_alter:
    prefix: 'h_ajax_render_alter'
    body: '''
      /**
       * Implements hook_ajax_render_alter().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_ajax_render_alter(\\$commands) {
        \\$commands[] = ${1}
      }$0
    '''