'.source.drupal':
  hook_field_storage_pre_load:
    prefix: 'hook_field_storage_pre_load'
    body: '''
      /**
       * Implements hook_field_storage_pre_load().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_field_storage_pre_load(\\$entity_type, \\$entities, \\$age, &\\$skip_fields, \\$options) {
        ${1:/* Your code here */}
      }$0
    '''