'.source.drupal':
  h_aggregator_fetch_info:
    prefix: 'h_aggregator_fetch_info'
    body: '''
      /**
       * Implements hook_aggregator_fetch_info().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_aggregator_fetch_info() {
        return array(
          'title' => t('${1}'),
          'description' => t('${2}'),
        );
      }$0
    '''