'.source.drupal':
  h_menu_link_update:
    prefix: 'h_menu_link_update'
    body: '''
      /**
       * Implements hook_menu_link_update().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_menu_link_update(\\$link) {
        ${1:/* Your code here */}
      }$0
    '''