'.source.drupal':
  h_cron_queue_info:
    prefix: 'h_cron_queue_info'
    body: '''
      /**
       * Implements hook_cron_queue_info().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_cron_queue_info() {
        \\$queues['${1}'] = array(
          'worker callback' => '${2}',
          'time' => ${3},
        );
        return \\$queues;
      }$0
    '''