'.source.drupal':
  hook_delete:
    prefix: 'hook_delete'
    body: '''
      /**
       * Implements hook_delete().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_delete(\\$node) {
        db_delete('${1}')
          ->condition('nid', \\$nid->nid)
          ->execute();
      }$0
    '''