'.source.drupal':
  h_search_info:
    prefix: 'h_search_info'
    body: '''
      /**
       * Implements hook_search_info().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_search_info() {
        return array(
          'title' => '${1}',
          'path' => '${2}',
          'conditions_callback' => '${3}',
        );
      }$0
    '''