'.source.drupal':
  hook_entity_load:
    prefix: 'hook_entity_load'
    body: '''
      /**
       * Implements hook_entity_load().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_entity_load(\\$entities, \\$type) {
        foreach (\\$entities as \\$entity) {
          \\$entity->${1} = mymodule_add_something(\\$entity, \\$type);
        }
      }$0
    '''