'.source.drupal':
  h_theme_registry_alter:
    prefix: 'h_theme_registry_alter'
    body: '''
      /**
       * Implements hook_theme_registry_alter().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_theme_registry_alter(&\\$theme_registry) {
        ${1:/* Your code here */}
      }$0
    '''