'.source.drupal':
  h_menu_link_delete:
    prefix: 'h_menu_link_delete'
    body: '''
      /**
       * Implements hook_menu_link_delete().
       */
      function ${TM_FILENAME/([^.]*)\\..*$/$1/}_menu_link_delete(\\$link) {
        db_delete('${1}')
          ->condition('mlid', \\$link['mlid'])
          ->execute();
      }$0
    '''